body {
    background: linear-gradient(#110621 20%,#A125BC 22%, #110621 30%,#110621 50%,#A125BC 58%,#110621 60%);
    color:white;
    margin:0;
    padding:0;
    width: 100vw;
  overflow-x: hidden;
}



.bg_layer {
    top:0;left:0;
    width: 100vw;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -1;
    perspective-origin: center;
    transform-style: preserve-3d;
    perspective: 1500px;
    height: 1920px;
    
}

.bg_lines {
    top:-30;left:0;
    position: absolute;
    display:inline;
    overflow:hidden;
    z-index: 1;
    width: 100vw;
    height: 1500px;
    background: linear-gradient(RGB(0,0,0,0) 20%,#FE49FF 23.5%, RGB(0,0,0,0) 25%,RGB(0,0,0,0) 55.5%,#FE49FF 58%,RGB(0,0,0,0) 60%);
}

.bg_retro_lines {
    top:-30;left:0;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -3;
    width: 100vw;
    height: 1500px;
    background: repeating-linear-gradient(RGB(0,0,0,0) 10px,RGB(255,255,255,.05) 20px,RGB(255,255,255,.03) 40px,RGB(0,0,0,0) 100px);
    animation: scrollY 2s infinite linear;
}



.logo_bg {
    top:290px;
    left:-220px;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -1;
    animation: wiggleUpDown 3s infinite alternate;
}

.top_grid_bg {
    top:-30;
    overflow: hidden;
    position: relative;
    display:inline;
    animation: topGridMove 0.5s infinite linear;
}

.bottom_grid_bg {
    top:-30;
    overflow: hidden;
    position: relative;
    display:inline;
    animation: bottomGridMove 0.5s infinite linear;
}



@keyframes rotateOnX {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes topGridMove {
  from {
    transform: scaleX(1.5) rotateX(71deg) translateZ(41.5em) translateY(24em);
  }
    to {
    transform: scaleX(1.5) rotateX(71deg) translateZ(41.5em) translateY(28em);
  }
}

@keyframes bottomGridMove {
  from {
    transform: scaleX(1.5) rotateX(85deg) translateZ(136.5em) translateY(24em);
  }
    to {
    transform: scaleX(1.5) rotateX(85deg) translateZ(136.5em) translateY(28em);
  }
}

@keyframes wiggleUpDown {
  from {
    transform: translateZ(-1em) rotateZ(-15deg) rotateY(65deg) scale(.6);
  }
    to {
    transform: translateZ(1em) rotateZ(-15deg) rotateY(70deg) scale(.6);
  }
}

@keyframes scrollY {
  from {
    transform: translateY(0);
  }
    to {
    transform: translateY(90px);
  }
}






@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:-30;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:inline;
  overflow: hidden;
}

.stars {
  background:#110621 url(/resources/img/background/stars.png) repeat top center;
  z-index:-5;
  overflow: hidden;
}

.twinkling{
  background:transparent url(/resources/img/background/twinkling.png) repeat top center;
  z-index:-4;
  overflow: hidden;
    
    ;

  -moz-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}