body {
    background: linear-gradient(#110621 20%,#A125BC 22%, #110621 30%,#110621 50%,#A125BC 58%,#110621 60%);
    color:white;
}

.main_container {
    height: 1500px;
}

.bg_layer {
    top:0;left:0;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -1;
    width: 100vw;
    perspective-origin: center;
    transform-style: preserve-3d;
    perspective: 1500px;
    height: 1500px;
}

.bg_lines {
    top:0;left:0;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: 1;
    width: 100vw;
    height: 1500px;
    background: linear-gradient(RGB(0,0,0,0) 20%,#FE49FF 23%, RGB(0,0,0,0) 25%,RGB(0,0,0,0) 56%,#FE49FF 58%,RGB(0,0,0,0) 60%);
}

.bg_retro_lines {
    top:0;left:0;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -3;
    width: 100vw;
    height: 1500px;
    background: repeating-linear-gradient(RGB(0,0,0,0) 10px,RGB(255,255,255,.05) 20px,RGB(255,255,255,.03) 40px,RGB(0,0,0,0) 50px);
    animation: scrollY 2s infinite linear;
}



.logo_bg {
    top:320px;
    left:-220px;
    position: absolute;
    display:inline;
    overflow: hidden;
    z-index: -1;
    animation: wiggleUpDown 3s infinite alternate;
}

.top_grid_bg {
    
    overflow: hidden;
    position: relative;
    display:inline;
    animation: topGridMove 0.5s infinite linear;
}

.bottom_grid_bg {
    overflow: hidden;
    position: relative;
    display:inline;
    animation: bottomGridMove 0.5s infinite linear;
}



@keyframes rotateOnX {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes topGridMove {
  from {
    transform: scaleX(1.5) rotateX(80deg) translateZ(45em) translateY(24em);
  }
    to {
    transform: scaleX(1.5) rotateX(80deg) translateZ(45em) translateY(28em);
  }
}

@keyframes bottomGridMove {
  from {
    transform: scaleX(1.5) rotateX(90deg) translateZ(134em) translateY(24em);
  }
    to {
    transform: scaleX(1.5) rotateX(90deg) translateZ(134em) translateY(28em);
  }
}

@keyframes wiggleUpDown {
  from {
    transform: translateZ(-1em) rotateZ(-15deg) rotateY(65deg) scale(.6);
  }
    to {
    transform: translateZ(1em) rotateZ(-15deg) rotateY(70deg) scale(.6);
  }
}

@keyframes scrollY {
  from {
    transform: translateY(0);
  }
    to {
    transform: translateY(5em);
  }
}




header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:inline;
}

.stars {
  background:#110621 url(/resources/img/background/stars.png) repeat top center;
  z-index:-5;
}

.twinkling{
  background:transparent url(/resources/img/background/twinkling.png) repeat top center;
  z-index:-4
    
    ;

  -moz-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}